rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isLogged() {
      return request.auth != null;
    }

    function getConfig() {
      return get(/databases/$(database)/documents/compartilhado/config).data;
    }

    function isWhitelisted() {
      return isLogged() &&
        request.auth.token.email in getConfig().whitelist;
    }

    function isAdmin() {
      return isWhitelisted() &&
        getConfig().roles[request.auth.token.email] == "admin";
    }

    match /compartilhado/config {
      allow read: if isWhitelisted();
      allow write: if isAdmin();
    }

    match /compartilhado/{document=**} {
      allow read: if isWhitelisted();
      allow write: if isWhitelisted();
    }
  }
}
